.App {
  text-align: center;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.financial-news {
  max-width: 800px;
  margin: 0 auto;
}
.financial-news h3{
  color:#696969;
}

.input-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

input {
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  flex-grow: 1;
}

input:last-child {
  margin-right: 0;
}

button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #45a049;
}

button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.news-content {
  margin-top: 20px;
  text-align: left;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 5px;
}

.formatted-news {
  white-space: pre-wrap;
  word-wrap: break-word;
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 1.6;
  max-width: 100%;
  overflow-x: auto;
}

h1 {
  color: #333;
}

h2 {
  color: #666;
}